.page_header{
  color:white;
  text-align: center;
  padding:46px;
  p{
    background: linear-gradient(225deg, #2DC7ED 0%, #538BF0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:16px;
    margin-bottom:8px;
  }
  h1{
    font-size:36px;
  }
}