.text_blog{
  h1{    
    margin-top:55px;
    font-size:36px;
    color:white;
    margin-bottom:15px;
    font-weight: 400;
  }
  h1:first-child{
    margin-top:16px;
  }
  p{
    font-size:18px;
    color:#7C7D80;
  }
  padding:42px 0px;

}